.ui-bpt-title {
  font-family: "Poppins", sans-serif;
}

.ui-bpt-title_text {
  color: #000;

  .title {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
  }

  .extra {
    font-weight: 300;
    font-size: 10px;
    line-height: 13px;
  }
}

.ui-bpt-title_link {
  .link {
    font-size: 11px;
    line-height: 16px;
    color: #3382cc;
  }

  .link.extra {
    margin-top: 9px;
  }
}
