.ui-bpt-main_button {
  text-align: center;

  button {
    position: relative;
    transform: translate(0%, 50%);
    width: 80px;
    height: 57px;
    border: none;

    border-radius: 45px;
    color: white;

    &.enabled {
      background: linear-gradient(90deg, #03045e -48.4%, #0077b6 159.57%);
    }

    &.disabled {
      background: linear-gradient(90deg, #757575 -48.4%, #cccccc 159.57%);
    }

    svg {
      font-size: 35px;
    }
  }
  button:focus {
    outline: 0;
  }
}

@media (max-width: 320px) {
  .ui-bpt-main_button {
    button {
      position: relative;
      transform: translate(0%, 50%);
      width: 65px;
      height: 38px;
      border-radius: 45px;

      svg {
        font-size: 35px;
      }
    }
    button:focus {
      outline: 0;
    }
  }
}
