.ui-bpt-button {
  background: linear-gradient(97.12deg, #071a6e -22.1%, #1b7cb6 126.82%);
  border-radius: 20px !important;
  margin-bottom: 3vh !important;
  span {
    color: white;
  }
}

.MuiPaper-root {
  background-color: transparent !important;
}
